.container {
  height: 100%;
}
.content {
  display: flex;
  height: calc(100% - 32px);
}
.center {
  position: relative;
  top: 0;
  left: 0;
  width: 750px;
  max-height: 850px;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #fff;
}
.img-url {
  margin-bottom: 10px;
}
.url-card {
  width: 450px;
  margin-right: 10px;
}
.img-warp {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.drop-warp {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 120;
  width: 100%;
  height: 100%;
}
.add-btn {
  margin-right: 10px;
}
.list-item {
  width: 60px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
